/*
Theme Name: Try2
*/
@font-face {
    font-family: 'GlacialIndifference-bold';
    src: url('fonts/GlacialIndifference-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'GlacialIndifference-regular';
    src: url('fonts/GlacialIndifference-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald.light.ttf') format('opentype');
}

body {
    background-color: #7f7773;
    font-family: 'GlacialIndifference-regular';
    color: #FFF;
    position: relative;
}

.body-body > img {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
}

#primary {
    max-width: 1280px;
    margin: 0 auto;
}

.header1 {
    background: #7f7773;
    width: auto;
    height: 100px;
    clear: both;
}

.logo {
    /*border:1px solid #000;*/
    /*background-image: url("photo.jpg");*/
    /*background-size: cover;*/
    /*margin: 10px;*/
    /*padding: 10px;*/
    width: 251px;
    height: 100px;
    float: left;
    margin: 10px 10px 10px 33px;
}

.menu-icon {
    text-align: right;

    display: none;
}

.menu-icon svg {
    fill: #ffffff;
}

.main-menu {
    float: right;
    background: rgba(255, 222, 173, 0);
    width: auto;
    box-shadow: none;
    margin-right: 37px;
}

.main-menu li {
    position: relative;
    list-style: none;
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 20px;
}

.main-menu li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;

}

.main-menu li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 200px;
    transition: all .2s cubic-bezier(0, 0.18, 0.07, 0.55);
    left: 50%;
    transform: translateX(-50%);
}

.main-menu ul a {
    padding: 0px;
}

.main-menu li:hover ul {
    visibility: visible;
    opacity: 1;
}

.main-menu ul a:hover, .action-down:hover, .btn-primary:hover, .page-footer a:hover {
    color: #fb893a;
    border-color: #fb893a;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    transition: all .5s;
    background-color: transparent;
    text-decoration: none;
}

.main-menu ul a:active {
    color: #fb893a;
}

.sub-menu {
    visibility: hidden;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2), -1px -1px 1px rgba(0, 0, 0, .1);
    position: absolute;
    opacity: 0;
    width: auto;
    top: 90px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border: 1px solid #fff;
    background-color: rgba(127, 119, 115, 0.95);
    z-index: 999;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    padding: 10px;
}

.mobile-menu {
    display: none;
}

.circle.material-icons {
    font-size: 40px;
    width: 1.3em;
    height: 1.3em;
    padding: 0;
    line-height: 1.2;
}

.constellation-title {
    margin-top: 58px;
}

.constellation-title h2 {
    text-align: center;
    font-family: GlacialIndifference-bold;
    font-weight: bold;
    font-size: 90px;
}

.main-menu ul li .sub-menu {
    line-height: 15px;
    top: 70px;
    left: 78px;
    z-index: 15;
}

.intro-text-wrapper h3 {
    font-family: GlacialIndifference-bold;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
}

.about-content-page-text h4 {
    font-family: Oswald;
    font-weight: 300;
    font-size: 32px;
    color: #fb893a;
    line-height: 1.4;
    margin-top: 30px;
    text-align: center;
}

.circle.material-icons {
    font-size: 40px;
    width: 1.3em;
    height: 1.3em;
    padding: 0;
    line-height: 1.2;
}

.front-page-action-button-down {
    position: fixed;
    bottom: 0;
    left: 47.1%;
    /*-webkit-transform: translateX(-50%);*/
    /*transform: translateX(-50%);*/
}

.action-down {
    border-radius: 50%;
    border: 3px solid #fff;
    display: inline-block;
    color: #fff;
    margin: 10px;
    text-align: center;
}

h1 {
    font-family: Oswald;
    font-weight: 200;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

.article-title {
    padding: 70px 20px;
}

.entry-content p {
    font-size: 22px;
    font-family: GlacialIndifference-regular;
    line-height: 2.3rem;
}

.adjustable-elements-3cols {
    display: flex;
}

.adjustable-elements-3cols .col > div {
    background-color: #FFF;
    color: #000;
    padding: 20px 10px;
    height: 100%;
}

.adjustable-elements-3cols .col > div .icon-wrapper img {
    width: 30%;
    text-align: center;
}

.adjustable-elements-3cols .col > div .title-wrapper {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    min-height: 70px;
    line-height: 1.4;
}

.adjustable-elements-3cols .col > div .content-wrapper {
    font-weight: normal;
    font-size: 18px;
}

.adjustable-elements-3cols .col > div .icon-wrapper {
    text-align: center;
}

.adjustable-elements-4cols .col > div .icon-wrapper img {
    width: 100%;
}

.adjustable-elements-4cols .col > div .title-wrapper {
    font-size: 24px;
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: Oswald;
    color: #fb893a;
}

.adjustable-elements-4cols .col > div .position-wrapper {
    font-weight: normal;
    font-size: 18px;
    color: #FFF;
}

.adjustable-elements-4cols .col > div .content-wrapper, .adjustable-elements-4cols .col > div .content-wrapper * {
    font-size: 16px;
    color: #d4d6d9;
    line-height: 1.5;
}

h3 {
    font-family: GlacialIndifference-bold;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    margin: 0;
}

.btn-primary {
    border: 2px solid #fff;
    padding: 15px 60px;
    font-size: 24px;
    color: #FFF;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    background: transparent;
}

a {
    text-decoration: none;
}

footer.page-footer {
    background-color: #404039;
    padding-bottom: 20px;
}

.footer-logo-link img {
    height: 48px;
}

.copyright {
    color: #7F7773;
}

.copyright a {
    color: white;
}

.page-footer .menu a {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
}

.page-footer .menu a:hover {
    color: #fb893a;
    border-color: #fb893a;
    cursor: pointer;
}

.social-icons a {
    border-radius: 50%;
    border: 3px solid #fff;
    line-height: 1.5;
    font-size: 24px;
    width: 2em;
    height: 2em;
    display: inline-block;
    padding: 5px;
    color: #fff;
    margin: 10px;
    text-align: center;
}

.page-footer .container {
    width: 93%;
}

.row p {
    margin-top: 19px;
}

.sub-menu:after, .sub-menu:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.sub-menu:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #7F7773;
    border-width: 12px;
    margin-left: -12.5px;
    top: -22.5px;
}

.sub-menu:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #ffffff;
    border-width: 13px;
    margin-left: -13px;
}

/*---media-media---*/
@media (max-width: 992px) {
    .main-menu ul li {
        /*float: none;*/
        display: none;
    }

    .menu-icon {
        display: block;
    }
}

@media (min-width: 997px) {
    .mobile-menu {
        display: none;
    }
}








